---
title: Authors
metaDescription: This page lists all of the Blog's authors.
layout: layouts/base.njk
pagination:
  data: collections.authors
  size: Infinity
permalink: "authors/index.html"
---

<main id="main" class="int">
  <div class="hero-container">
    <h1 class="title-text"><span class="text-holder">{{ title }}</span></h1>
  </div>
  <section class="base-section content">
    <div class="container">
      {% for author in pagination.items %}
        <article>
          <h2 class="h3">
            <a href="/authors/{{ author | slug }}">{{ author | safe }}</a>
          </h2>
        </article>
      {% endfor %}
      <nav>
        <a href="{{ '/blog/' | url }}">← Blog index</a>
      </nav>
    </div>
  </section>
</main>
