---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---

<main id="main" class="int">
  <div class="hero-container">
    <h1 class="title-text"><span class="text-holder">Tagged “{{ tag }}”</span></h1>
  </div>
  <section class="base-section content blog">
    <div class="container">
      {% set postslist = collections[tag] %}
      {% include "components/postslist.njk" %}

      <nav>
        <a href="{{ '/blog/' | url }}">← Blog index</a>
      </nav>
    </div>
  </section>
</main>

