/*Global Styles*/
:root {
	--primary-green: #3C7F24;
	--primary-green-rgb: 60,127, 36;
	--secondary-green: #244D15;
	--primary-purple: #802475;
	--primary-purple-rgb: 128, 36, 117;
	--primary-gray: #acacac;
	--primary-blue: #303280;
	--secondary-blue: #305C80;
	--primary-red: #803E3C;
	--primary-yellow: #F9F6DE;
	--primary-orange: #CCA260;
	--secondary-orange: #4E3818;
	--body-color: #333;
	--light-color: #fff;
	--logo-font: 'Ubuntu', 'arial', sans-serif;
	--header-font: 'Cabin', 'arial', sans-serif;
	--body-font: 'Source Sans Pro', 'arial', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: 2px dotted var(--primary-blue);
	outline-offset: .25rem;
}

body {
	font: 1rem/1.5 var(--body-font);
	margin: 0;
	padding: 0;
	color: var(--body-color);
	position: relative;
	background-color: var(--primary-green);
}

h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 5vw;
  /*max-width: 15ch;*/
}

h2,
.h2 {
  --fluid-type-min: 1.3rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 2.5rem;
}

.int h1 {
  --fluid-type-min: 1.2rem;
  --fluid-type-max: 2rem;
  --fluid-type-target: 2vw;
  /*max-width: 15ch;*/
}

.int h2 {
	--fluid-type-main:  1rem;
	--fluid-type-max:  1.9rem;
	--fluid-type-target: 1.5vw;
}

h1,
h2,
.h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	font-weight: 600;
	font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

p {
	font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

a {
	color: var(--primary-green);
}

a:visited {
	color: var(--secondary-green);
}

a:hover {
	text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  left: -9999px;
}

.important {
	visibility: hidden;
	display: none;
}

.skip-link {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--body-color);
	text-decoration: underline;
	background: 0 0;
	left: 0;
	padding: .5rem 1rem;
	position: absolute;
	top: -4rem;
	transition: .15s ease-in-out;
	z-index: 1;
}

.skip-link:focus {
  background: var(--light-color);
  left: 0;
  position: absolute;
  top: 0;
  transition: .15s ease-in-out;
  outline: .25rem dotted var(--primary-purple);
	outline-offset: 0;
}

.skip-link.bottom {
	left: initial;
	top: initial;
	right: 0;
	bottom: 0;
}

.skip-link.bottom:focus {
	left: initial;
	top: initial;
	right: 0;
	bottom: 0;
}

/*.skip-link {
	background: 0 0;
	left: -9999px;
	padding: .5rem 1rem;
	position: absolute;
	bottom: 4rem;
	transition: .15s ease-in-out;
	z-index: 100;
}

.skip-link:focus {
  background: var(--light-color);
  left: 0;
  right: .25rem;
  position: absolute;
  bottom: .25rem;
  transition: .15s ease-in-out;
  outline: .25rem dotted var(--primary-purple);
  outline-offset: 0;
  z-index: 999999;
}*/

input, textarea {
	min-height: 2.75rem;
	border-radius: 10px;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	display: block;
	margin-bottom: 1em;
	font-family: var(--body-font);
}

label {
	display: block;
}

textarea {
	min-height: 10rem;
}

.btn {
	display: block;
	min-width: 2.75rem;
	min-height: 2.75rem;
	border: 2px solid var(--light-color);
	border-radius: 10px;
	color: var(--light-color);
	background: none;
	font-size: 1.5rem;
	font-weight: 600;
}

.btn:hover,
.btn:focus {
	background: var(--light-color);
	color: var(--secondary-green);
	transition: all 0.3s ease-in-out;
}

.container {
	max-width: 70rem;
	padding: 4rem 2rem;
	margin: 0 auto;
}

.base-section {
	padding: 2rem 0;
}

.styled-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wrapper svg[role="decorative"] {
			display: initial;
		}

/*End global styles*/
/*Main Layout*/

#main {
	overflow: hidden;
}

.wrapper {
	display: grid;
	grid-template-columns: 18rem 1fr;
	grid-template-rows: 100%;
	min-height: 100vh;
	overflow: hidden;
	grid-auto-flow: dense;
}

.main-content {
	grid-column: 2;
	background-color: var(--light-color);
}

.side-nav {
	background: var(--primary-green);
	padding: 1rem;
	text-align: center;
	position: relative;
	box-shadow: 5px 5px 20px 1px rgba(0,0,0,.3);
}

.side-nav *:focus {
	outline-color: var(--primary-orange);
}

.header-holder {
	position: fixed;
	width: 16rem;
	will-change: transform;
}
/*End main layout*/

/*Nav Styling*/
.logo .h1 {
	font-family: var(--logo-font);
	color: var(--light-color);
	font-size: 2rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.nav li a {
	text-decoration: none;
	color: var(--light-color);
	font-size: 1.5rem;
}

.nav li a:hover {
	text-decoration: underline;
}

.nav li a:focus {
	outline-color: var(--primary-orange);
}

.social-nav {
	margin-top: 2rem;
	border-top: 4px solid var(--light-color);
	padding-top: 1rem;
}

.social-nav ul {
	display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.styled-list a {
	transition: decoration .3s ease-in-out;
}

.styled-list a:hover .social-icon {
	fill: var(--primary-orange);
}

.footer .container {
	padding: 0 2rem 3rem;
}

.footer-nav {
	margin: 4rem 0;
}

.footer-nav ul {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
	flex-wrap: wrap;
}
/*End Nav styling*/
/*Intro Styling*/
.intro {
	background-color: var(--primary-yellow);
}

.intro-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4rem;
	flex-direction: row-reverse;
}

.intro .headshot img {
	max-width: 20rem;
}

.intro-holder > * {
	margin: auto;
}

.intro-holder > div {
	max-width: 60ch;
}
/*End Intro Styling*/
/*Paint styling*/
.paint {
	background-color: var(--primary-yellow);
}

.paintdrop {
	width: 100%;
	min-height: 30rem;
	background-color: var(--primary-purple);
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  box-shadow: 5px 5px 20px 1px rgba(0,0,0,.3);
  padding: 3rem;
  margin: 3rem auto;
}

.paintdrop a {
	color: var(--light-color);
	text-decoration: none;
}

.paintdrop a:hover {
	text-decoration: underline;
}

.paintdrop > * {
	margin: 0;
}

.paintdrop h2 {
	font-size: 2.5rem;
}

.paintdrop p {
	font-size: 1.25rem;
}

.paintdrop-box:first-child {
	border-bottom: 5px solid var(--secondary-green);
}
/*end paint styling*/

/*Main Content Styling*/
.hero-container {
	height: 50vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-size: 5rem;
	background-position: center;
	background-repeat: repeat;
	background-color: var(--secondary-blue);
	background-image: url("/static/img/hero-pattern-01.svg");
	display: grid;
	place-content: center;
}

.hero-container .title-text::after {
	transform: translate(-50%) skew(45deg);
}

.title-text {
	color: #fff;
	font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
	margin: 0 auto;
	padding: 0;
	/*background-color: var(--primary-red);*/
	position: relative;
	width: max-content;
	text-align: center;
}

.title-text::after {
	content: '';
	background-color: var(--primary-red);
	width: 150%;
	height: 150%;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	will-change: transform;
	transform: translate(-50%) skew(-45deg);
	margin: auto;
	z-index: 0;
	box-shadow: 5px 5px 20px 1px rgba(0,0,0,.3);
}

.int .title-text::after {
	width: 200%;
}

.text-holder {
	position: relative;
	z-index: 1;
}

.writing .title-text,
.writing .title-text::after {
	background-color: var(--primary-blue);
}

.writing h3 {
	margin: 0;
}

.writing .articles-holder {
	display: flex;
	margin-top: 8rem;
	gap: 1rem 4rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.writing .articles {
	margin: auto;
}

@media (min-width: 64em) {
	.writing .articles {
		max-width: 43%;
	}
}

.writing .icons {
	width: 50%;
	margin: 0 auto;
}

.writing a {
	color: var(--body-color);
	text-decoration: none;
}

.writing a:hover {
	text-decoration: underline;
}

.top8 .title-text,
.top8 .title-text::after {
	background-color: var(--secondary-green);
}

.top8-holder {
	display: flex;
	gap: 4rem 2rem;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4rem 1rem 2rem;
	border: 8px solid var(--primary-orange);
}

.top8 h3 {
	margin: 0;
	font-size: 1.5rem;
	position: relative;
}

.top8 a h3::before {
	position: absolute;
	left: 50%;
	top: -2rem;
	transform: translateX(-50%);
	width: 1rem;
}

.top8 .tiktok h3::before {
	content: url(/static/img/tiktok.svg);
}

.top8 .twitch h3::before {
	content: url(/static/img/twitch.svg);
}

.top8 .instagram h3::before {
	content: url(/static/img/instagram.svg);
}

.top8 .myspace-text {
	margin: 8rem 0 0;
	background-color: var(--primary-orange);
  width: 100%;
  padding: 1rem;
  color: var(--secondary-orange);
  border-top: 8px solid var(--primary-orange);
  border-left: 8px solid var(--primary-orange);
  border-right: 8px solid var(--primary-orange);
  min-width: 100%;
  font-weight: 600;
}

.top8 a {
	text-align: center;
	color: var(--primary-blue);
	text-decoration: underline;
	text-decoration-color:  transparent;
	display: block;
	transition: all 1s ease-in-out;
	will-change: transform;
}

.top8 a:hover {
	/*text-decoration: none;*/
	color: var(--secondary-orange);
	text-decoration-color: var(--secondary-orange);
}

.top8 a .top8-img {
	transition: all 1s ease-in-out;
}

.top8 a:hover .top8-img {
	border:  8px solid var(--secondary-orange);
}

.top8-img {
	width: 220px;
	height: 200px;
	border: 8px solid var(--primary-blue);
	object-fit: cover;
}

.content .container {
	max-width: 40rem;
	padding: 2rem;
}

.footer {
	background: var(--secondary-green);
	color: var(--light-color);
	margin-top: -1rem;
}

.footer .title-text,
.footer .title-text::after {
	background-color: var(--secondary-blue);
}

.footer .contact {
	margin: 0 auto;
}

.footer .contact fieldset {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}

.footer .contact legend {
	font-weight: 600;
	font-family: var(--header-font);
	text-align: center;
	margin: 0 auto 5rem;
}

/*End main content styles*/
.tk-logo {
	fill:  none;
	stroke:  var(--light-color);
	stroke-width: 1;
}
.logo-anim .tk-logo {
	stroke: var(--secondary-green);
}

/*Internal page styles*/
.int .hero-container {
	height:  30vh;
	background-size: 3rem;
}
/*End Internal page styles*/

/*Media queries*/
@media (prefers-reduced-motion:  no-preference) {
	.paintdrop {
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
	}

	.paintdrop:hover {
		cursor: pointer;
		animation-name: bounce;
		-moz-animation-name: bounce;
	}

	@keyframes bounce {
		0%, 100%, 20%, 50%, 80% {
			-webkit-transform: translateY(0);
			-ms-transform:     translateY(0);
			transform:         translateY(0)
		}
		40% {
			-webkit-transform: translateY(-30px);
			-ms-transform:     translateY(-30px);
			transform:         translateY(-30px)
		}
		60% {
			-webkit-transform: translateY(-15px);
			-ms-transform:     translateY(-15px);
			transform:         translateY(-15px)
		}
	}

	.top8 a {
		text-decoration: none;
		transition: all .3s ease-in-out;
	}

	.top8 a:hover {
		transform: translateY(-1rem);
		text-decoration: none;
		color: var(--primary-blue);
	}

	.top8 a:hover .top8-img {
		border: 8px solid var(--primary-blue);
	}

	.logo-anim .tk-logo {
	  fill: none;
	  stroke-miterlimit: 10;
	}
	.logo-anim .lines {
		stroke-dasharray: 24;
	  stroke-dashoffset: 24;
	  animation: draw 1s linear forwards;
	  will-change: transform;

	}
	.logo-anim .ellipse,
	.logo-anim .diagonal {
		stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	  animation: draw 20s linear forwards;
	  will-change: transform;
	}
	/*T Vertical line*/
	.logo-anim #vtop2 {
		animation-delay: .5s;
		stroke: var(--light-color);
	}
	/*T horizontal line*/
	.logo-anim #htop {
	  animation-delay: 1.5s;
	}
	.logo-anim #htop2 {
		animation-delay: 2s;
		stroke: var(--light-color);
	}
	/*O*/
	.logo-anim #efull {
		animation-delay: 3s;
	}
	.logo-anim #efull2 {
		animation-delay: 3.5s;
		stroke: var(--light-color);
	}
	/*R Vertical line*/
	.logo-anim #vtop3 {
	  animation-delay: 4.5s;
	  stroke: var(--secondary-green);
	}
	.logo-anim #vtop4 {
		animation-delay: 5s;
		stroke: var(--light-color);
	}
	/*R ellipse*/
	.logo-anim #etopright {
		animation-delay: 6s;
	}
	.logo-anim #etopright2 {
		animation-delay: 6.5s;
		stroke: var(--light-color);
	}
	/*R diagonal*/
	.logo-anim #dfull {
		animation-delay: 7.5s;
	}
	.logo-anim #dfull2 {
		animation-delay: 8s;
		stroke: var(--light-color);
	}
	/*S top left*/
	.logo-anim #ehalfleft {
		animation-delay: 9s;
	}
	.logo-anim #ehalfleft2 {
		animation-delay: 9.5s;
		stroke: var(--light-color);
	}
	/*S bottom right*/
	.logo-anim #ebottomright {
		animation-delay: 10.5s;
	}
	.logo-anim #ebottomright2 {
		animation-delay: 11s;
		stroke: var(--light-color);
	}
	/*2nd T vertical line*/
	.logo-anim #vtop5 {
		animation-delay: 12s;
	}
	.logo-anim #vtop6 {
		animation-delay: 12.5s;
		stroke: var(--light-color);
	}
	/*2nd T Horizontal line*/
	.logo-anim #htop3 {
		animation-delay: 13.5s;
	}
	.logo-anim #htop4 {
		animation-delay: 14s;
		stroke: var(--light-color);
	}
	/*E Vertical left line*/
	.logo-anim #vleft {
		animation-delay: 15s;
	}
	.logo-anim #vleft2 {
		animation-delay: 15.5s;
		stroke: var(--light-color);
	}
	/*E horizontal top line*/
	.logo-anim #htop5 {
		animation-delay: 16.5s;
	}
	.logo-anim #htop6 {
		animation-delay: 17s;
		stroke: var(--light-color);
	}
	/*E horizontal center line*/
	.logo-anim #hcenter {
		animation-delay: 18s;
	}
	.logo-anim #hcenter2 {
		animation-delay: 18.5s;
		stroke: var(--light-color);
	}
	/*E horizontal bottom line*/
	.logo-anim #hbottom {
		animation-delay: 19.5s;
	}
	.logo-anim #hbottom2 {
		animation-delay: 20s;
		stroke: var(--light-color);
	}
	/*N Vertical left line*/
	.logo-anim #vleft3 {
		animation:  drawBackwards 1s linear forwards;
		animation-delay: 21s;
	}
	.logo-anim #vleft4 {
		animation:  drawBackwards 1s linear forwards;
		animation-delay: 21.5s;
		stroke: var(--light-color);
	}	
	/*N diagonal*/
	.logo-anim #dhalf {
		animation-delay: 22.5s;
	}
	.logo-anim #dhalf2 {
		animation-delay: 23s;
		stroke: var(--light-color);
	}
	/*N right vertical line*/
	.logo-anim #vright {
		animation: drawBackwards 1s linear forwards;
		animation-delay: 24s;
	}
	.logo-anim #vright2 {
		animation: drawBackwards 1s linear forwards;
		animation-delay: 24.5s;
		stroke: var(--light-color);
	}
	.logo-anim #tk-logo .tk-logo {
	/*	transition-delay: 25s;
		transition-property: stroke;
		transition-duration: 0s;*/
		/*animation: removeStroke 1s linear forwards;
		animation-delay: 25s;*/
		opacity: 1;
	}
	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
	@keyframes drawBackwards {
		from {
			stroke-dashoffset: 24;
		}
		to {
			stroke-dashoffset: 48;
		}
	}
	@media (max-width: 48em) {
		.js .open-nav .header-holder {
			transition: .5s ease;
		}
	}
}

.nav-btn {
	display: none;
}

@media (min-width: 48em) {
	.int .title-text {
		max-width: calc(100vw - 20rem);
	}
}

@media (max-width: 48em) {
	.intro .headshot img {
		width: 100%;
	}
	img {
		width: 100%;
	}
/*	.side-nav {
		opacity: 0;
		visibility:  hidden;
		filter:alpha(opacity=0);
    transition: opacity 1s ease-in-out;
    position: absolute;
	}*/
	.wrapper {
		grid-template-columns:  1fr;
	}
	.no-js .main-content {
		grid-row: 2;
	}
	.main-content {
		grid-column: unset;
	}
	.header-holder {
		position: relative;
		width: initial;
	}
	.logo .h1 {
		margin-left: auto;
		margin-right: auto;
	}
	.no-js .side-nav {
		min-height: 100vh;
	}

	.js .side-nav .logo, 
	.js .side-nav .styled-list,
	.js .side-nav .social-nav {
		display: none;
	}

	.js .wrapper {
		position: relative;
	}
	.js .open-nav	.header-holder {
		max-height: 100vh;
		overflow: auto;
	}
	.js .open-nav .main-content {
		max-height: 100vh;
		overflow: hidden;
	}

/*	.main-content {
		grid-column: 1;
	}

	.open-nav .wrapper {
		display: block;
		grid-template-columns: 18rem 1fr;
	}
	.open-nav .main-content {
		grid-column: 2;
	}
	.open-nav .main-content {
		display: none;
	}
	.open-nav .side-nav {
		width: 100%;
		height: 100vh;
		opacity: 1;
		visibility: visible;
		filter:alpha(opacity=100);
		transition: opacity 1s ease-in-out;
		position: static;
	}
	.open-nav .header-holder {
		width: calc(100% - 2rem);
	}
	*/

	.js .open-nav .logo .h1 {
		font-size: 2.5rem;
	}
	.js .open-nav .side-nav li a {
		font-size: 2rem;
	}


	.js .side-nav .nav-btn {
		display: block;
		background-color: var(--primary-purple);
		position: fixed;
		left:  1rem;
		bottom:  1rem;
		color:  var(--light-color);
		border:  8px solid transparent;
		padding:  1.5rem 2.5rem;
		min-width: 2.75rem;
		min-height: 2.75rem;
		font-size:  1.5rem;
		font-family: var(--header-font);
		will-change: transform;
		transition: border .3s ease-in-out background-color .3s ease-in-out;
		z-index: 99;
		border-radius: 50%;
		box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
	}
	.js .side-nav .nav-btn:hover,
	.js .side-nav .nav-btn:focus {
		background-color: var(--secondary-blue);
		border:  8px solid var(--primary-orange);
		outline: none;
	}
	.js .side-nav {
		background: initial;
		padding: initial;
		position: static;
	}

	.js .header-holder {
		will-change: initial;
		position: static;
	}

	.js .open-nav .side-nav .logo, 
	.js .open-nav .side-nav .styled-list,
	.js .open-nav .side-nav .social-nav {
		display: block;
	}

	.js .open-nav .side-nav .social-nav ul {
		display: flex;
	}

	.js .open-nav .header-holder {
		position: relative;
		height: calc(100vh - 2rem);
		padding: 1rem 0;
	}

	.js .open-nav .side-nav {
		padding: 1rem;
		background: var(--primary-green);
		position: fixed;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	.open-nav .open-menu,
	.close-menu {
		display: none;
	}
	.open-nav .close-menu,
	.open-menu {
		display: inline;
	}
	.int .title-text {
		width: unset;
		margin: 0 1rem;
	}
	.container,
	.content .container {
		padding: 0 2rem;
	}
	.intro-holder {
		gap: 1rem;
	}
	.writing .articles-holder,
	.top8 .myspace-text {
		margin-top: 3rem;
	}
}