<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width"/>
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="twitter:site" content="@torkna"/>
  <meta name="twitter:creator" content="@torkna"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="title" content="{{ renderData.title or title or metadata.title }}"/>
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}"/>
  <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}"/>
  <meta property="og:description" content="{{ metaDescription or summary or renderData.metaDescription or metadata.description }}" />
  <meta name="twitter:description" content="{{ metaDescription or summary or renderData.metaDescription or metadata.description }}" />
  <meta name="description" content="{{ metaDescription or summary or renderData.metaDescription or metadata.description }}">
  <meta property="og:image" content="https://torstenknabe.com/static/img/facebook-meta.png" />
  <meta name="twitter:image" content="https://torstenknabe.com/static/img/twitter-meta.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@torkna" />
  <meta name="twitter:site:id" content="266790419" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  {# <link media="all" rel="stylesheet" href="css/style.css" /> #}
  <link rel="shortcut icon" href="/static/img/tk-favicon.svg" type="image/x-icon" />
  <meta http-equiv="pragma" content="no-cache" />
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link href="/_includes/assets/css/prism-a11y-dark.css" rel="stylesheet">
</head>
