---
layout: layouts/base.njk
section: contact
---
<main id="main" class="int">
	<div class="hero-container">
		<h1 class="title-text"><span class="text-holder">{{ title }}</span></h1>
	</div>
	<section class="base-section content">
		<div class="container">
			{{ layoutContent | safe }}
		</div>
	</section>
</main>

{# {% include "components/form.njk" %} #}
