---
layout: layouts/base.njk
section: home
---

<main id="main">
	<div class="hero-container">
		<h1 class="title-text"><span class="text-holder">{{ title }}</span></h1>
	</div>
	<div class="intro base-section">
		<div class="container">
			<div class="intro-holder">
				<div>
					{{ layoutContent | safe }}
				</div>
				<div class="headshot">
					<img loading="lazy" width="320" height="467" alt="Washington Monument at Dusk with a vibrant skyline" src="/static/img/background.jpg" />
				</div>
			</div>
		</div>
	</div>
	<section class="paint base-section">
		<div class="container">
			{% set featurelist = collections.post.slice(-2) %}
		    {% include "components/featurelist.njk" %}
		</div>
	</section>
	<svg role="decorative" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="var(--primary-yellow)" fill-opacity="1" d="M0,256L30,256C60,256,120,256,180,240C240,224,300,192,360,192C420,192,480,224,540,208C600,192,660,128,720,128C780,128,840,192,900,202.7C960,213,1020,171,1080,170.7C1140,171,1200,213,1260,218.7C1320,224,1380,192,1410,176L1440,160L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path>
	</svg>
	<section class="writing base-section">
		<div class="container">
			<h2 class="title-text"><span class="text-holder">More Articles</span></h2>
			<div class="articles-holder">
				<div class="articles">
		        	{% set postslist = collections.post.slice(-4, -2)%}
		        	{% include "components/postslist.njk" %}
				</div>
				<div class="icons">
					<svg id="ec5e9592-bf60-4ce5-947c-9447dbaff28e" role="decorative" aria-hidden="true" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin slice" viewBox="0 0 30 24">
						<defs>
							<style>
								.icon-article {
									fill: none;
									stroke: var(--primary-purple);
									stroke-miterlimit: 10;
								}
							</style>
						</defs>
						<path class="icon-article" d="M7,20V3.281A3.113,3.113,0,0,1,10.347.5H26"/>
						<line class="icon-article" x1="30" y1="5.5" x2="22" y2="5.5"/>
						<path class="icon-article" d="M29.5,5V4a3.5,3.5,0,0,0-7,0V20"/>
						<path class="icon-article" d="M15.5,19.75a3.5,3.5,0,0,0,7,0"/>
						<path class="icon-article" d="M1.25,19.75a3.5,3.5,0,0,0,3.5,3.5"/>
						<line class="icon-article" x1="0.75" y1="19.5" x2="16" y2="19.5"/>
						<line class="icon-article" x1="4.625" y1="23.25" x2="18.875" y2="23.25"/>
						<path class="icon-article" d="M8.75,3.9c1.2,0,1.2,1.2,2.4,1.2s1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2,1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2"/>
						<path class="icon-article" d="M8.75,11.9c1.2,0,1.2,1.2,2.4,1.2s1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2,1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2"/>
						<path class="icon-article" d="M8.75,7.9c1.2,0,1.2,1.2,2.4,1.2s1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2,1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2"/>
						<path class="icon-article" d="M8.75,15.9c1.2,0,1.2,1.2,2.4,1.2s1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2,1.2-1.2,2.4-1.2,1.2,1.2,2.4,1.2"/>
					</svg>
				</div>
			</div>
		</div>
	</section>
	<section class="base-section top8">
		<div class="container">
			<h2 class="title-text"><span class="text-holder">Torsten's Top 8</span></h2>
			<p class="myspace-text">In a throwback to the MySpace era, I've got my top 8 choice picks</p>
			<ul class="top8-holder styled-list">
				<li><a class="tiktok" href="https://www.tiktok.com/@randi_olsgard">
					<h3>Randi Olsgard</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/randi.jpg" />
					</div>
				</a></li>
				<li><a class="tiktok" href="https://www.tiktok.com/@pineapple_dee">
					<h3>Pineapple Dee</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/dee.jpg" />
					</div>
				</a></li>
				<li><a class="twitch" href="https://www.twitch.tv/dudepowers">
					<h3>Dude Powers</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/dude.jpg" />
					</div>
				</a></li>
				<li><a class="twitch" href="https://www.twitch.tv/halfmoonjoe">
					<h3>Half Moon Joe</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/hmj.jpg" />
					</div>
				</a></li>
				<li><a class="tiktok" href="https://www.tiktok.com/@doctorcarlton">
					<h3>Doctor Carlton</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/carlton.jpg" />
					</div>
				</a></li>
				<li><a class="tiktok" href="https://www.tiktok.com/@patricelavoie">
					<h3>Patrice Lavoie</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/patrice.jpg" />
					</div>
				</a></li>
				<li><a class="instagram" href="https://www.instagram.com/theamericanskyline/">
					<h3>The American Skyline</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/tas.jpg" />
					</div>
				</a></li>
				<li><a class="tiktok" href="https://www.tiktok.com/@robynsrussell">
					<h3>Robyn Russell</h3>
					<div class="top8-holder-img">
						<img alt="" loading="lazy" class="top8-img" width="220" height="200" src="/static/img/robyn.jpg" />
					</div>
				</a></li>
			</ul>
		</div>
	</section>
</main>
