---
layout: layouts/base.njk
section: contact
---

<main id="main" class="int portfolio">
	<div class="hero-container">
		<h1 class="title-text"><span class="text-holder">{{ title }}</span></h1>
	</div>
	<section class="base-section">
		<div class="portfolio-intro">
			<div class="container">
				{{ layoutContent | safe }}
			</div>
		</div>
		<div class="container">
			<h2 class="title-text"><span class="text-holder">Landing Pages</span></h2>
			<article class="portfolio-section">
				<h3>For Country Caucus</h3>
				<ul>
					<li>Design based on provided logo, client allowed for an energetic and cooperative design</li>
					<li>Animations on entry and hover to add friendliness</li>
					<li>Create a table view for legislation with view/hide functionality to display a large amount of information in a concise section</li>
				</ul>
				<div class="portfolio-images">
					<a href="/static/img/fcc-1.jpg"><img src="/static/img/fcc-1.jpg" alt="For Country Caucus top of the page. A background video of stock footage of servicemen with the text 'Principles Before Politics' and 'Our Mission' shown." /></a>
					<a href="/static/img/fcc-leadership.png"><img src="/static/img/fcc-leadership.png" alt="For Country Caucus page Leadership section. Shows 4 caucus chair images in circles." /></a>
					<a href="/static/img/fcc-news.jpg"><img src="/static/img/fcc-news.jpg" alt="For Country Caucus page latest news section. A press release next to three images of caucus members cleaning monuments." /></a>
					<a href="/static/img/fcc-media.jpg"><img src="/static/img/fcc-media.jpg" alt="For Country Caucus page media section. A carousel of three photos and then below that another carousel of three videos." /></a>
				</div>
				<a class="btn secondary" href="https://vantaylor.house.gov/forcountry/">View Page<span class="visually-hidden"> - For Country Caucus</span></a>
			</article>
			<article class="portfolio-section">
				<h3>Women, Peace, and Security Caucus</h3>
				<ul>
					<li>Staid and conservative design preferences from the client.</li>
					<li>Resources section that allows for any size content but will resize based on height of text.</li>
				</ul>
				<div class="portfolio-images">
					<a href="/static/img/wps-top.png"><img src="/static/img/wps-top.png" alt="Women, Peace, and Security Caucus top of the page. A picture of women in uniform with the text Women, Peace, and Security on top and below that is a mission statement." /></a>
					<a href="/static/img/wps-contact.png"><img src="/static/img/wps-contact.png" alt="Women, Peace, and Security Caucus page. Contact section with contact information for the co-chairs." /></a>
					<a href="/static/img/wps-news.png"><img src="/static/img/wps-news.png" alt="Women, Peace, and Security Caucus page latest updates section. Shows an image of an service woman holding a camera next to a news article with a scroll bar." /></a>
					<a href="/static/img/wps-resources.png"><img src="/static/img/wps-resources.png" alt="Women, Peace, and Security Caucus page resources section. Three cards with a seal, heading, text, and a call to action button." /></a>
				</div>
				<a class="btn secondary" href="https://waltz.house.gov/wps/">View Page<span class="visually-hidden"> - Women, Peace, and Security Caucus</span></a>
			</article>
			<h2 class="title-text"><span class="text-holder">Personal Projects</span></h2>
			<article class="portfolio-section">
				<h3>Homebrew Dungeons & Dragons Quarantine Card Game</h3>
				<p>During the COVID-19 quarantine my D&D group had to adapt to playing virtually. We had incorporated a custom card game element into our campaign that we couldn't easily play with any off the shelf solutions. So, I <a href="https://github.com/deck-of-cards/deck-of-cards">forked an existing project with a 52 card deck</a> and built out <a href="https://github.com/torstenknabe/deck-of-cards">custom decks for each of the 5 players</a> using the same cards we had in our physical decks to play virtually.</p>
				<ul>
					<li>Had to decipher some one else's code with little documentation to figure out what to modify for my use case</li>
					<li>Added helpful modals for each player tracking game points and credits</li>
				</ul>
				<div class="portfolio-images">
					<iframe src="https://www.youtube.com/embed/0C7b4BYCzRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<a class="btn secondary" href="https://speakerjones.com/">View Page<span class="visually-hidden"> - Crystal Gems Card game</span></a>
			</article>
		</div>
	</section>
	<svg role="decorative" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="var(--primary-yellow)" fill-opacity="1" d="M0,256L30,256C60,256,120,256,180,240C240,224,300,192,360,192C420,192,480,224,540,208C600,192,660,128,720,128C780,128,840,192,900,202.7C960,213,1020,171,1080,170.7C1140,171,1200,213,1260,218.7C1320,224,1380,192,1410,176L1440,160L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path>
	</svg>
	<section class="base-section">
		<div class="portfolio-stats">
			<div class="container">
				<h2 class="title-text"><span class="text-holder">Tools Used</span></h2>
				<p>This is a graph</p>
			</div>
		</div>
	</section>
</main>
