---
layout: layouts/base.njk
section: post
---

<main id="main" class="int">
  <div class="hero-container">
    <h1 class="title-text"><span class="text-holder">{{ title }}</span></h1>
  </div>
  <section class="base-section content">
    <div class="container">
      <article>
        <p>
          <small>
            <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
          </small>
        </p>

        {{ layoutContent | safe }}

        {% if tags %}
          <ul class="tags styled-list">
          {% for tag in tags %}
            {%- if tag != "post" -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
            {%- endif -%}
          {% endfor %}
          </ul>
        {% endif %}

      </article>

      <nav>
        <a href="{{ '/blog/' | url }}">← Blog index</a>
      </nav>
    </div>
  </section>
</main>
